* {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Roboto', sans-serif;
}

a {
  display: contents;
  color: inherit;
}

html {
  margin: 0
}

body {
  margin: 0
}

.disable {
  background-color: black
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100%;
}